.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-center{
    text-align: center;
}
.font-primary{
    font-size: 48px;
}
.font-secondary{
    font-size: 36px;
}
.font-thrid{
    font-size: 32px;
}
.font-forth{
    font-size: 24px;
}
.font-fifth{
    font-size: 20px;
}
.font-color-primary{
    color: rgba(71,170,224,1);
}
.font-muted{
    color: rgb(116, 116, 116);
}
.font-black{
    color: black;
}
.font-weight-bold{
    font-weight: bold;
}
.font-weight-normal{
    font-weight: normal;
}
.font-weight-lighter{
    font-weight: lighter;
}
.error{
    color: red;
}