.form-group{
    width: 100%;
    margin-bottom: 12px;
}
input{
    width: 100%;
    padding: 8px 15px;
    outline: none;
    &:disabled{
        background: #fff;
    }
    &:focus{
        outline: 0 !important;
        border: .5px solid rgb(71, 170, 224);
        -webkit-box-shadow: none !important; 
        -moz-box-shadow: none !important; 
        box-shadow: 0 0 0 0.2rem rgba(71, 170, 224, 0.25) !important; 
    }
}
//input placeholder
::placeholder {
    font-family: $font-family;
}

//custom input autofill
/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    font-family: $font-family;
    border: 0.5px solid #9c95ff;
    -webkit-text-fill-color: black;
    box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0.055) inset;
    -webkit-box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0.055) inset;
    transition: background-color 5000s ease-in-out 0s;
}

//custom radio
[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 10px;
    height: 10px;
    background: rgba(71,170,224,1);
    position: absolute;
    top: 4px;
    left: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

//date
input[type="date"] {
    font-family: $font-family;
    color: black;
    border: .5px solid rgb(116,116,116);
    background-color: #fff;
    &::-webkit-datetime-edit-month-field {
        color: black;
    }
    &::-webkit-datetime-edit-day-field {
        color: black;
    }
    &::-webkit-datetime-edit-year-field {
        color: black;
    }
    &::before { 
        content: attr(data-placeholder);
        color: rgb(116,116,116);
        width: 100%;
    }
    &:focus{
        color: #000;
    }
    &:focus::before,&:valid::before { 
        display: none 
    }
    &:invalid::-webkit-datetime-edit{
        background-color: #fff;
        color: black;
    }
}

//select
select{
    font-family: $font-family;
    background-color: #fff;
    &:invalid{
        color: rgb(116,116,116);
    }
}