//mixin
//格線
@mixin makegrid($col){
    flex: 0 0 (100% * $col);
    max-width: (100% * $col);
}
//表單基本設定
@mixin formInitSet {
    position: absolute;
    top: 40px;
    right: 145px;
    width: 413px;
    height: auto;
    padding: 24px;
    @include breakpoint(sm){
        position: inherit;
        width: 100%;
        height: auto;
        padding: 20px;
        top: 0;
        right: 0;
    }
}
@mixin progress($step1-bg,$step1-fontColor,$step2-bg,$step2-fontColor,$step3-bg,$step3-fontColor,$step4-bg,$step4-fontColor){
    position: relative;
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 12px;
    .progress-step{
        position: relative;
        padding: 12px;
        z-index: 5;
        &:nth-child(1){
            background-color:$step1-bg;
            &::after{
                content: '1';
                color:$step1-fontColor ;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                z-index: 6;
            }
        }
        &:nth-child(2){
            background-color:$step2-bg ;
            &::after{
                content: '2';
                position: absolute;
                color:$step2-fontColor ;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                z-index: 6;
            }
        }
        &:nth-child(3){
            background-color:$step3-bg ;
            &::after{
                content: '3';
                position: absolute;
                color:$step3-fontColor ;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                z-index: 6;
            }
        }
        &:nth-child(4){
            background-color:$step4-bg ;
            &::after{
                content: '4';
                position: absolute;
                color:$step4-fontColor ;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                z-index: 6;
            }
        }
    }
    .level-bar{
        position: absolute;
        width: calc(100% - 48px);
        left: 24px;
        top: 50%;
        transform: translateY(-50%);
    }
}