/*!
 * Initialize.css (v1.4.0) is a complete and customizable collection of CSS best practices based on Normalize.css and HTML5 Boilerplate.
 * http://jeroenoomsnl.github.io/initialize-css
 *
 * HTML5 Boilerplate: https://github.com/h5bp/html5-boilerplate
 * Normalize.css: http://github.com/necolas/normalize.css
 */
/* ==========================================================================
   General
   ========================================================================== */
/**
 * 1. Set default font family to $initialize-font-family (default: sans-serif)
 * 2. Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.
 * 3. Configurable defaults
 */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
  /* 1 */
  line-height: 1.4;
  /* 3 */
  font-size: 1em;
  /* 3 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove the margin in all browsers
 */
body {
  margin: 0;
}

/**
 * Inheriting box-sizing
 * https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* ==========================================================================
   HTML5 display defenitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
details,
main {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none;
}

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  -webkit-text-decoration-skip: objects;
  /* 2 */
}

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}

/* ==========================================================================
   Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Grouping content
   ========================================================================== */
/*
 * Address margin not present in IE 8/9 and Safari.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
select,
textarea {
  font-family: sans-serif;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.4;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
    * Correct the padding in Firefox.
    */
fieldset {
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* ==========================================================================
   Optional configurations
   ========================================================================== */
/**
 * Headings
 */
/**
 * Block elements
 */
/* ==========================================================================
   Print styles
   ========================================================================== */
a {
  text-decoration: none;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.justify-content-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.justify-content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-content-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.justify-content-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.align-items-start {
  -ms-flex-line-pack: start;
      align-content: start;
}

.align-items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.align-items-stretch {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.align-self-start {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.align-self-center {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body {
  font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.login-signal-desk .title-container {
  position: relative;
  padding-left: 145px;
  padding-right: 145px;
}

@media only screen and (max-width: 1280px) and (min-width: 769px) {
  .login-signal-desk .title-container {
    padding-left: 80px;
    padding-right: 80px;
  }
}

.login-signal-desk .title-container .title {
  margin-top: 40px;
  margin-bottom: 52px;
  padding-top: 52px;
  padding-left: 40px;
}

@media only screen and (max-width: 1280px) and (min-width: 769px) {
  .login-signal-desk .title-container .title {
    padding-right: 480px;
  }
}

.login-signal-desk .main-background {
  height: 680px;
  max-height: 680px;
}

.login-signal-desk .main-background .background {
  background-image: url(../assets/background/sign-up-background.jpg);
  background-position: center center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.login-signal-desk .program-content {
  min-height: auto;
  padding: 60px;
  background-color: #f8f8f9;
  display: block;
}

@media only screen and (max-width: 992px) and (min-width: 769px) {
  .login-signal-desk .program-content {
    padding: 60px 30px;
  }
}

.login-signal-desk .program-content .btn-group {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 80px;
}

.login-signal-desk .program-content .btn-group .buyer-btn, .login-signal-desk .program-content .btn-group .seller-btn {
  border: 2px solid #000;
  padding: 18px 90px;
  cursor: pointer;
}

.login-signal-desk .program-content .btn-group .buyer-btn {
  margin-right: 45px;
  color: #f8f8f9;
  background-color: #000;
}

.login-signal-desk .program-content .btn-group .buyer-btn:hover {
  background-color: #1a1a1a;
}

.login-signal-desk .program-content .btn-group .seller-btn {
  color: #000;
  background-color: #f8f8f9;
}

.login-signal-desk .program-content .btn-group .seller-btn:hover {
  color: #f8f8f9;
  background-color: #000;
}

.login-signal-desk .program-content .program-info {
  margin: 40px auto;
}

.login-signal-desk .program-content .market-comparison-table {
  height: 350px;
  margin-left: 10%;
}

@media only screen and (max-width: 992px) and (min-width: 769px) {
  .login-signal-desk .program-content .market-comparison-table {
    margin-left: 5%;
  }
}

.login-signal-desk .program-content .market-comparison-table .table-item {
  margin: 0 3.75px;
  padding: 0 20px;
  position: relative;
}

.login-signal-desk .program-content .market-comparison-table .table-item div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-signal-desk .product-content {
  padding: 145px;
  padding-top: 40px;
  padding-bottom: 0;
}

@media only screen and (max-width: 1280px) and (min-width: 769px) {
  .login-signal-desk .product-content {
    padding: 80px;
    padding-top: 40px;
    padding-bottom: 0;
  }
}

.login-signal-desk .product-content .content-title {
  margin-top: 52px;
  margin-bottom: 52px;
  padding-left: 32px;
}

.login-signal-desk .product-content .content-box {
  padding-left: 32px;
}

.login-signal-desk .product-content .content-box-icon {
  margin-bottom: 32px;
}

.login-signal-desk .product-content .content-box-title {
  margin-bottom: 20px;
}

.login-signal-desk .product-content .content-box-info {
  margin-bottom: 88px;
}

.login-signal-desk footer {
  height: 75px;
  min-height: 75px;
  background-color: #000000;
}

.login-signal-mobile {
  width: 100vw;
  height: auto;
}

.login-signal-mobile .title {
  text-align: center;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-bottom: 12px;
}

.login-signal-mobile .program-content {
  height: auto;
  padding: 20px;
  background-color: #f8f8f9;
  display: block;
}

.login-signal-mobile .program-content .program-title {
  margin-top: 5px !important;
  margin-bottom: 20px;
}

.login-signal-mobile .program-content .program-info {
  margin-top: 20px;
  margin-bottom: 48px;
}

.login-signal-mobile .program-content .market-comparison-table {
  height: 300px;
  margin-top: 28px;
}

.login-signal-mobile .program-content .market-comparison-table .table-item {
  margin: 0 3.75px;
  padding: 0 8px;
  position: relative;
}

.login-signal-mobile .program-content .market-comparison-table .table-item div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-signal-mobile .btn-group {
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
}

.login-signal-mobile .btn-group .buyer-btn, .login-signal-mobile .btn-group .seller-btn {
  font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  border: none;
  border-bottom: 2px solid #000;
  padding: 16px 70px;
}

.login-signal-mobile .btn-group .buyer-btn {
  color: #ffffff;
  background-color: #000;
}

.login-signal-mobile .btn-group .buyer-btn:hover {
  background-color: #1a1a1a;
}

.login-signal-mobile .btn-group .seller-btn {
  color: #000;
  background-color: #ffffff;
}

.login-signal-mobile .product-content {
  position: relative;
  width: 100vw;
  height: 260px;
  overflow-x: hidden;
}

.login-signal-mobile .product-content-list {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100vw * 3);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.login-signal-mobile .product-content-list .content-box {
  position: relative;
}

.login-signal-mobile .product-content-list .content-box-title, .login-signal-mobile .product-content-list .content-box-info {
  text-align: center;
}

.login-signal-mobile .product-content-list .content-box-title {
  margin-bottom: 12px;
}

.login-signal-mobile .product-content-list .content-box-info {
  margin-bottom: 18px;
}

.login-signal-mobile .product-content-pagination {
  width: 100vw;
  height: auto;
  margin-bottom: 12px;
}

.login-signal-mobile .product-content-pagination .pagination-step {
  padding: 2px;
}

.login-signal-mobile .product-content-pagination .pagination-step div {
  padding: 6px;
}

.login-signal-mobile footer {
  height: 75px;
  min-height: 75px;
  background-color: #000000;
}

.base-info-form {
  position: absolute;
  top: 40px;
  right: 145px;
  width: 413px;
  height: auto;
  padding: 24px;
}

@media only screen and (max-width: 768px) {
  .base-info-form {
    position: inherit;
    width: 100%;
    height: auto;
    padding: 20px;
  }
}

.base-info-form .progress-bar {
  position: relative;
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 12px;
}

.base-info-form .progress-bar .progress-step {
  position: relative;
  padding: 12px;
  z-index: 5;
}

.base-info-form .progress-bar .progress-step:nth-child(1) {
  background-color: #000000;
}

.base-info-form .progress-bar .progress-step:nth-child(1)::after {
  content: '1';
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 6;
}

.base-info-form .progress-bar .progress-step:nth-child(2) {
  background-color: #fff;
}

.base-info-form .progress-bar .progress-step:nth-child(2)::after {
  content: '2';
  position: absolute;
  color: #000;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 6;
}

.base-info-form .progress-bar .progress-step:nth-child(3) {
  background-color: #fff;
}

.base-info-form .progress-bar .progress-step:nth-child(3)::after {
  content: '3';
  position: absolute;
  color: #000;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 6;
}

.base-info-form .progress-bar .progress-step:nth-child(4) {
  background-color: #fff;
}

.base-info-form .progress-bar .progress-step:nth-child(4)::after {
  content: '4';
  position: absolute;
  color: #000;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 6;
}

.base-info-form .progress-bar .level-bar {
  position: absolute;
  width: calc(100% - 48px);
  left: 24px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.base-info-form .user-photo {
  position: relative;
  width: 90px;
  height: 90px;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
}

.base-info-form .user-photo-update {
  position: absolute;
  right: 0;
  bottom: 3px;
  width: 24px;
  height: 24px;
}

.base-info-form .user-photo input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.base-info-form .user-photo #update-photo-mobile-error {
  position: relative;
  right: -107px;
  bottom: -29px;
}

.base-info-form .input-sex {
  padding: 8px 0;
}

.base-info-form .input-sex-label {
  margin-right: 20px;
}

.base-info-form .input-country, .base-info-form .input-city {
  padding: 8px 15px;
}

.base-info-form .input-country {
  width: 20%;
}

.base-info-form .input-city {
  width: 80%;
}

.set-account-form {
  position: absolute;
  top: 40px;
  right: 145px;
  width: 413px;
  height: auto;
  padding: 24px;
}

@media only screen and (max-width: 768px) {
  .set-account-form {
    position: inherit;
    width: 100%;
    height: auto;
    padding: 20px;
  }
}

.set-account-form .progress-bar {
  position: relative;
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 12px;
}

.set-account-form .progress-bar .progress-step {
  position: relative;
  padding: 12px;
  z-index: 5;
}

.set-account-form .progress-bar .progress-step:nth-child(1) {
  background-color: #fff;
}

.set-account-form .progress-bar .progress-step:nth-child(1)::after {
  content: '1';
  color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 6;
}

.set-account-form .progress-bar .progress-step:nth-child(2) {
  background-color: #000000;
}

.set-account-form .progress-bar .progress-step:nth-child(2)::after {
  content: '2';
  position: absolute;
  color: #fff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 6;
}

.set-account-form .progress-bar .progress-step:nth-child(3) {
  background-color: #fff;
}

.set-account-form .progress-bar .progress-step:nth-child(3)::after {
  content: '3';
  position: absolute;
  color: #000;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 6;
}

.set-account-form .progress-bar .progress-step:nth-child(4) {
  background-color: #fff;
}

.set-account-form .progress-bar .progress-step:nth-child(4)::after {
  content: '4';
  position: absolute;
  color: #000;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 6;
}

.set-account-form .progress-bar .level-bar {
  position: absolute;
  width: calc(100% - 48px);
  left: 24px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.set-account-form .form-title {
  margin-bottom: 45px;
}

.set-account-form .set-account-input {
  margin-bottom: 105px;
}

.set-account-form a {
  width: 100%;
  margin-bottom: 12px;
}

.set-password-form {
  position: absolute;
  top: 40px;
  right: 145px;
  width: 413px;
  height: auto;
  padding: 24px;
}

@media only screen and (max-width: 768px) {
  .set-password-form {
    position: inherit;
    width: 100%;
    height: auto;
    padding: 20px;
  }
}

.set-password-form .progress-bar {
  position: relative;
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 12px;
}

.set-password-form .progress-bar .progress-step {
  position: relative;
  padding: 12px;
  z-index: 5;
}

.set-password-form .progress-bar .progress-step:nth-child(1) {
  background-color: #fff;
}

.set-password-form .progress-bar .progress-step:nth-child(1)::after {
  content: '1';
  color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 6;
}

.set-password-form .progress-bar .progress-step:nth-child(2) {
  background-color: #fff;
}

.set-password-form .progress-bar .progress-step:nth-child(2)::after {
  content: '2';
  position: absolute;
  color: #000;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 6;
}

.set-password-form .progress-bar .progress-step:nth-child(3) {
  background-color: #000000;
}

.set-password-form .progress-bar .progress-step:nth-child(3)::after {
  content: '3';
  position: absolute;
  color: #fff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 6;
}

.set-password-form .progress-bar .progress-step:nth-child(4) {
  background-color: #fff;
}

.set-password-form .progress-bar .progress-step:nth-child(4)::after {
  content: '4';
  position: absolute;
  color: #000;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 6;
}

.set-password-form .progress-bar .level-bar {
  position: absolute;
  width: calc(100% - 48px);
  left: 24px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.set-password-form .form-title {
  margin-bottom: 45px;
}

.set-password-form .set-password-input {
  margin-bottom: 105px;
}

.set-password-form a {
  width: 100%;
  margin-bottom: 12px;
}

.signIn-success-form {
  position: absolute;
  top: 40px;
  right: 145px;
  width: 413px;
  height: auto;
  padding: 24px;
}

@media only screen and (max-width: 768px) {
  .signIn-success-form {
    position: inherit;
    width: 100%;
    height: auto;
    padding: 20px;
  }
}

.signIn-success-form .progress-bar {
  position: relative;
  padding-left: 24px;
  padding-right: 24px;
  margin-bottom: 12px;
}

.signIn-success-form .progress-bar .progress-step {
  position: relative;
  padding: 12px;
  z-index: 5;
}

.signIn-success-form .progress-bar .progress-step:nth-child(1) {
  background-color: #fff;
}

.signIn-success-form .progress-bar .progress-step:nth-child(1)::after {
  content: '1';
  color: #000;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 6;
}

.signIn-success-form .progress-bar .progress-step:nth-child(2) {
  background-color: #fff;
}

.signIn-success-form .progress-bar .progress-step:nth-child(2)::after {
  content: '2';
  position: absolute;
  color: #000;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 6;
}

.signIn-success-form .progress-bar .progress-step:nth-child(3) {
  background-color: #fff;
}

.signIn-success-form .progress-bar .progress-step:nth-child(3)::after {
  content: '3';
  position: absolute;
  color: #000;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 6;
}

.signIn-success-form .progress-bar .progress-step:nth-child(4) {
  background-color: #000000;
}

.signIn-success-form .progress-bar .progress-step:nth-child(4)::after {
  content: '4';
  position: absolute;
  color: #fff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 6;
}

.signIn-success-form .progress-bar .level-bar {
  position: absolute;
  width: calc(100% - 48px);
  left: 24px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.signIn-success-form .user-photo {
  position: relative;
  width: 90px;
  height: 90px;
  margin-top: 43px;
  margin-bottom: 24px;
  margin-left: auto;
  margin-right: auto;
}

.signIn-success-form .user-photo-success {
  position: absolute;
  right: 0;
  bottom: 3px;
  width: 24px;
  height: 24px;
}

.signIn-success-form .success-content {
  font-size: 18px;
  margin-bottom: 65px;
}

.signIn-success-form a {
  width: 100%;
  margin-bottom: 12px;
}

.logIn-form {
  position: absolute;
  top: 40px;
  right: 145px;
  width: 413px;
  height: auto;
  padding: 24px;
}

@media only screen and (max-width: 768px) {
  .logIn-form {
    position: inherit;
    width: 100%;
    height: auto;
    padding: 20px;
  }
}

.logIn-form .form-title {
  margin-bottom: 45px;
}

.logIn-form .logIn-input {
  margin-bottom: 160px;
}

.logIn-form a {
  width: 100%;
  margin-bottom: 12px;
}

.forget-password-form {
  position: absolute;
  top: 40px;
  right: 145px;
  width: 413px;
  height: auto;
  padding: 24px;
}

@media only screen and (max-width: 768px) {
  .forget-password-form {
    position: inherit;
    width: 100%;
    height: auto;
    padding: 20px;
  }
}

.forget-password-form .form-title {
  margin-bottom: 80px;
}

.forget-password-form .forget-password-input {
  margin-bottom: 105px;
}

.forget-password-form a {
  width: 100%;
}

.set-new-password-form {
  position: absolute;
  top: 40px;
  right: 145px;
  width: 413px;
  height: auto;
  padding: 24px;
}

@media only screen and (max-width: 768px) {
  .set-new-password-form {
    position: inherit;
    width: 100%;
    height: auto;
    padding: 20px;
  }
}

.set-new-password-form .form-title {
  margin-bottom: 45px;
}

.set-new-password-form .set-new-password-input {
  margin-bottom: 105px;
}

.set-new-password-form a {
  width: 100%;
}

button[type="submit"] {
  width: 100%;
  margin-top: 32px;
  margin-bottom: 12px;
}

.form-group {
  width: 100%;
  margin-bottom: 12px;
}

input {
  width: 100%;
  padding: 8px 15px;
  outline: none;
}

input:disabled {
  background: #fff;
}

input:focus {
  outline: 0 !important;
  border: 0.5px solid #47aae0;
  -webkit-box-shadow: none !important;
  box-shadow: 0 0 0 0.2rem rgba(71, 170, 224, 0.25) !important;
}

::-webkit-input-placeholder {
  font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

:-ms-input-placeholder {
  font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

::-ms-input-placeholder {
  font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

::placeholder {
  font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  border: 0.5px solid rgba(71, 170, 224, 0.25);
  -webkit-text-fill-color: black;
  box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0.055) inset;
  -webkit-box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0.055) inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: '';
  width: 10px;
  height: 10px;
  background: #47aae0;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

input[type=date] {
  font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: black;
  border: 0.5px solid #747474;
  background-color: #fff;
  -webkit-appearance: none;
}

@media only screen and (max-width: 768px) {
  input[type=date] {
    background: #fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px;
  }
}

input[type=date]::-webkit-datetime-edit-month-field {
  color: black;
}

input[type=date]::-webkit-datetime-edit-day-field {
  color: black;
}

input[type=date]::-webkit-datetime-edit-year-field {
  color: black;
}

input[type=date]::before {
  content: attr(data-placeholder);
  color: #747474;
  width: 100%;
}

input[type=date]:invalid::before {
  content: attr(data-placeholder);
  color: #747474;
  width: 100%;
}

input[type=date]:focus {
  color: #000;
}

input[type=date]:focus::before, input[type=date]:valid::before {
  display: none;
}

input[type=date]::-webkit-datetime-edit {
  background-color: #fff;
  color: black;
}

select {
  font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: #fff;
  -webkit-appearance: none;
  background: #fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px;
}

select:invalid {
  color: #747474;
}

#verifyCode-error {
  position: absolute;
  bottom: -24px;
}

.visible-desk {
  display: block;
}

@media only screen and (max-width: 768px) {
  .visible-desk {
    display: none;
  }
}

.visible-mobile {
  display: none;
}

@media only screen and (max-width: 768px) {
  .visible-mobile {
    display: block;
  }
}

.grid {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 100%;
}

.grid-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.33333%;
          flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.grid-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.66667%;
          flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.grid-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
}

.grid-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33333%;
          flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.grid-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 41.66667%;
          flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.grid-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.grid-7 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58.33333%;
          flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.grid-8 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.66667%;
          flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.grid-9 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  max-width: 75%;
}

.grid-10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 83.33333%;
          flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.grid-11 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 91.66667%;
          flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.grid-12 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

.postion-relative {
  position: relative;
}

.postion-absolute {
  position: absolute;
}

.postion-fixed {
  position: fixed;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.font-primary {
  font-size: 48px;
}

.font-secondary {
  font-size: 36px;
}

.font-thrid {
  font-size: 32px;
}

.font-forth {
  font-size: 24px;
}

.font-fifth {
  font-size: 20px;
}

.font-color-primary {
  color: #47aae0;
}

.font-muted {
  color: #747474;
}

.font-black {
  color: black;
}

.font-weight-bold {
  font-weight: bold;
}

.font-weight-normal {
  font-weight: normal;
}

.font-weight-lighter {
  font-weight: lighter;
}

.error {
  color: red;
}

.form-bg {
  background-color: #f8f8f9;
}

.footer-bg {
  background-color: #000000;
}

.bg-black {
  background-color: #000000;
}

.bg-white {
  background-color: #fff;
}

.border {
  border: 0.5px solid #000;
}

.border-light {
  border: 0.5px solid #6e6e6e;
}

.border-0 {
  border: none;
}

.rounded {
  border-radius: 5%;
}

.rounded-0 {
  border-radius: 0;
}

.circle-rounded {
  border-radius: 50%;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 11px 20px;
  font-size: 1rem;
  font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
  border-radius: 0.25rem;
  cursor: pointer;
}

.btn:hover {
  background-color: #1a1a1a;
}

.table-shadow {
  -webkit-box-shadow: 7px 7px 5px #00000015;
          box-shadow: 7px 7px 5px #00000015;
}

@-webkit-keyframes fadein {
  from {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.fadIn {
  -webkit-animation: fadein 1s;
          animation: fadein 1s;
  -webkit-transition: 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: 0.5s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
/*# sourceMappingURL=all.css.map */